<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Aplikasi restoran" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sarif Resto</title>
    <link rel="preload" href="../styles/main.min.css" as="style" />
    <link rel="manifest" href="app.webmanifest" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"crossorigin="anonymous" />
    </noscript>
  </head>
  <body>
    <div class="skip-to-content">
      <a href="#restaurantList" id="skipToContentLink" tabindex="0">Skip to Content</a>
      <a href="#restaurantDetail" id="skipToDetailLink" tabindex="0" class="hide">Ke Konten Selanjutnya ?</a>
    </div>
    <header>
      <nav class="app-bar">
        <div class="app-bar__brand">
          <h1>Sarif Resto</h1>
        </div>
        <button class="app-bar__menu" aria-label="Open navigation menu"></button>
        <ul class="app-bar__navigation">
          <li><a href="/">Beranda</a></li>
          <li><a href="#/favorite">Favorit</a></li>
          <li>
            <a rel="noreferrer" href="https://www.linkedin.com/in/sarifht/" target="_blank">Tentang</a>
          </li>
        </ul>
      </nav>
    </header>
    <main id="main-content" tabindex="-1">
      <!-- Hero Element -->
      <main id="mainContent" tabindex="0">
        <section class="hero">
          <picture>
            <source type="image/webp" media="(max-width: 600px)" srcset="images/heros/hero-image_1-small.webp" />
            <source type="image/webp" media="(min-width: 601px)" srcset="images/heros/hero-image_1-large.webp" />
            <source media="(max-width: 600px)" srcset="images/heros/hero-image_1-small.jpg" />
            <source media="(min-width: 601px)" srcset="images/heros/hero-image_1-large.jpg" />
            <img src="images/heros/hero-image_1-large.webp" alt="Hero Image" width="1200" height="800" />
          </picture>
        </section>
      <!-- Daftar Restoran -->
      <h2 class="title">Explore Restaurant</h2>
      <section class="restaurant-list" id="restaurantList" tabindex="-1">
        <!-- Daftar restoran akan dimanipulasi oleh JavaScript -->
      </section>
      <!--    Testimoni restoran-->
      <!--    <section class="testimoni-restoran">-->

      <!--    </section>-->
    </main>
    <footer>
      <p>Copyright © 2024 - Sarif Hidayatullah</p>
    </footer>
    <script src="../scripts/index.js" defer></script>
  </body>
</html>
